<launch>
  <arg name="joy_vel_in"  default="input_joy/drive"/>
  <arg name="joy_vel_out" default="joy_vel"/>

  <arg name="drive_out" default="ackermann_mux/drive"/>

  <arg name="config_locks"  default="$(find ackermann_mux)/config/ackermann_mux_locks.yaml"/>
  <arg name="config_topics" default="$(find ackermann_mux)/config/ackermann_mux_topics.yaml"/>

  <arg name="config_joy" default="$(find ackermann_mux)/config/joystick.yaml"/>

  <node pkg="ackermann_mux" type="ackermann_mux" name="ackermann_mux" output="screen">
    <remap from="drive_out" to="$(arg drive_out)"/>

    <rosparam file="$(arg config_locks)"  command="load"/>
    <rosparam file="$(arg config_topics)" command="load"/>
  </node>

  <node pkg="ackermann_mux" type="ackermann_marker" name="ackermann_marker">
    <remap from="drive"  to="$(arg drive_out)"/>
    <remap from="marker" to="ackermann_marker"/>
  </node>

  <node pkg="ackermann_mux" type="joystick_relay.py" name="joystick_relay" output="screen">
    <remap from="joy_vel_in"  to="$(arg joy_vel_in)"/>
    <remap from="joy_vel_out" to="$(arg joy_vel_out)"/>

    <rosparam file="$(arg config_joy)" command="load"/>
  </node>
</launch>

